.container {
  width: 80%;
  margin: auto;

  height: 100%;
}
.MainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainImg {
  width: 25%;
}

.mainDiv {
  font-family: 'Jost', sans-serif;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  padding: 12px;
  -webkit-box-shadow: 0px -1px 9px 1px rgba(61, 61, 61, 0.2);
  -moz-box-shadow: 0px -1px 9px 1px rgba(61, 61, 61, 0.2);
  box-shadow: 0px -1px 9px 1px rgba(61, 61, 61, 0.2);
}

#MainInput {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  width: 40%;
  background-color: #ffffff;
  border-radius: 2px;
  border: none;
  padding: 3px;
}

#footerDiv {
  background-color: #3d3d3d;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 130px;
  margin-top: 20%;
}

#footerDiv p {
  color: white;
}

#recipesImg {
  width: fit-content;
  padding: 10px;
}

#recipesMain {
  display: flex;

  width: auto;
  border: 2px solid rgb(194, 211, 202);

  /* flex-di======rection: column; */
  /* width: auto; */
  /* border: 2px solid rgb(194, 211, 202); */

  /* flex-direction: column; */
  /* width: auto; */
  /* border: 2px solid rgb(194, 211, 202); */

  border-radius: 10px;
}

#recipesHover {
  position: relative;
  width: 150%;
  margin-top: -110px;
}

#reviewsList {
  /* display: none; */
  /* position: absolute; */
  /* height: 10%; */
  /* width: 150%; */
  /* overflow: scroll; */
  height: auto;
  width: 60%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 4%;
  /* margin-top: 10px; */
}

.rounded {
  margin-top: 6%;
}

#recipesMain h3 {
  margin-top: 7%;
}

.list-group-item {
  width: 20%;
}

#recipesHover:hover #reviewsList {
  display: block;
}

/* .list-group {
  height: 155px;
  width: 470%;
} */

#reviewListGroup {
  height: 155px;
  width: 470%;
}

#ingredients {
  width: 300%;
  margin-top: 9%;
  margin-left: 35%;
}

.recipeListDiv {
  max-height: 282.1px;
  overflow: scroll;
  width: 100%;
}

#recipeList {
  position: relative;
  bottom: 137%;
}

#recipesContainer {
  display: flex;
  justify-content: center;
  width: 65%;
  margin: auto;
  background-color: white;
  -webkit-box-shadow: 0px -1px 9px 1px rgba(61, 61, 61, 0.2);
  -moz-box-shadow: 0px -1px 9px 1px rgba(61, 61, 61, 0.2);
  box-shadow: 0px -1px 9px 1px rgba(61, 61, 61, 0.2);
  border-radius: 5px;
}

.carouselRandom-main {
  margin-top: 30px;
  padding: 10px;
}

.carouselRandom-element {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-width: 90%;
  height: 105%;
  -webkit-box-shadow: 0px -1px 9px 1px rgba(61, 61, 61, 0.2);
  -moz-box-shadow: 0px -1px 9px 1px rgba(61, 61, 61, 0.2);
  box-shadow: 0px -1px 9px 1px rgba(61, 61, 61, 0.2);
}

.carouselRandom-image {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.carouselTitle {
  margin-top: 20px;
  font-family: 'Jost', sans-serif;
}

.carousel-title {
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  padding: 7px 5px 7px 5px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.carousel-img {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.slick-slide img {
  display: block;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.main-page-img {
  padding: 20px;
  border-radius: 5px !important;
  max-height: 300px;
}

#root {
  background-image: url('./images/3465.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.likes {
  color: grey;
  float: right;
}

.tags {
  position: relative;
  width: 100%;
  top: 100px;
}

.container-div {
  width: 100%;
  height: 100%;
  background: rgba(22, 21, 21, 0.8);
  position: fixed;
}

.st-input {
  top: 30%;
}
