.MainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainImg {
  width: 25%
}

.mainDiv {
  background-color: #c4c4c4;
  border-radius: 10px;
  width: 61%;
  margin-top: 7%;
  display: flex;
}


#MainInput {
  width: 42%;
  background-color: #c4c4c4;
  border-radius: 10px;
  border: none;
}
